.mobile-menu {
  display: none;
}

@media only screen and (max-width: 1600px) {
  .alerts-type-col {
    order: 2;
  }
  .graphs-col {
    order: 1;
  }
  .graph-tiles-col {
    order: 3;
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard-top-row-stats {
    justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  header > img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-menu {
    display: unset;
  }

  header {
    > nav a {
      display: none;
    }

    .title {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .info-modal-footer {
    justify-content: center;
  }
}
